# testing
coverage/

# production
dist/

# production
dist/

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs
*.log

# databases
*.sqlite
*.sqlite3
*.db

# environment variables
.env
.env.*

# next.js build artifacts
.next/

# apollo
.apollo/

# SASS and Tailwind CSS config files
frontend/tailwind.config.js
frontend/postcss.config.js
frontend/next.config.js

# tensorflow.js model files
backend/data-processing-service/models/tensorflow/models.ts
backend/prediction-service/models/tensorflow/models.ts

# raw and processed data files
backend/data-processing-service/data/raw/
backend/data-processing-service/data/processed/